language: csharp
mono: none
dotnet: 2.2

branches:
  only:
  - master

sudo: required

services:
  - docker

env:
  - DOCKER_COMPOSE_VERSION=1.25.3

before_install:
  - sudo rm /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - sudo mv docker-compose /usr/local/bin
  - docker-compose --version

install:
  - sudo apt-get update
  - dotnet restore

script:
  - dotent build
  - dotnet test Tests/Tests.csproj
  - docker-compose build
  - docker-compose up -d
  - docker ps
  - docker-compose stop
  - docker-compose rm -f

before_deploy:
  - docker login -u "${DOCKER_HUB_USERNAME}" -p "${DOCKER_HUB_PASSWORD}"

deploy:
  provider: script
  script: docker-compose push
  on:
    branch: master
