version: '3.3'
services:
  client-app:
    build: ./Client-App
    image: olszewm4/docker-with-travis.client-app:latest
    ports:
    - "5000:80"
    depends_on:
    - service-app

  service-app:
    build: 
      context: .
      dockerfile: ./Service-App/Dockerfile
    image: olszewm4/docker-with-travis.service-app:latest
    ports:
    - "5001:80"
    depends_on:
    - db

  db:
    image: "mcr.microsoft.com/mssql/server"
    environment:
      SA_PASSWORD: "Your_password123"
      ACCEPT_EULA: "Y"